.about-course{
    background-color: #EAF4FF;
    border-radius: 44px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.about-course--title{
    padding: 56px 0 64px 56px;
}
.about-course--title_box{
    display: flex;
    gap: 8px;
    align-items: center;
}
.about-course--title_box-text{
    color: #0B2441;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    opacity: 0.8;
    font-weight: 500;
}
.about-course--title_p{
    color: #0B2441;
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
    width: 456px;
    margin: 16px 0 56px 0;
}
.about-course--title_span{
     color:#2189FF;
    }
.about-course--btn{
    background-color: #2189FF;
    color: #fff;
    border-radius: 20px;
    padding: 16px 36px ;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500
 }
 .about-course--img{
    position: absolute;
    background-image: url('./img/Ellipse.png');
    background-repeat: no-repeat;
    background-size: cover; /* Rasmdan butunlay foydalanish */
    background-position: center; /* Rasm markazda joylashadi */
    width: 579px;
    height:100%;
    border-radius: 20px;
    overflow: hidden;
    right: -104px;
 }
  .about-course--border{
    justify-content: end;
    margin-top: 23px;
    display: flex;
    gap: 20px;
  }
  .about-course--border-span1{
    border-bottom: 3px solid #002B53;
    width: 32px;
    opacity: 0.8;
    cursor: pointer;
  }
  .about-course--border-span2{
    border-bottom: 3px solid #2189FF;
    width: 160px;
    cursor: pointer;
  }
  
.courses-teach{
    margin-top: 80px;
}
  .courses-teach-heading{
    color: #0B2441;
    font-weight: 700;
    font-size: 28px;
    line-height:44px;
    margin-bottom: 30px;
}

.courses-teach--wrapper{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 80px;
}
.courses-teach--box{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.courses-teach--box__card1{
    display: flex;
    column-gap: 25px;
}
.courses-teach--box__card2{
    display: flex;
    column-gap: 24px;
}
.courses-teach--box__card5{
    width: 280px;
    height: 210px;
    border-radius: 44px;
    background-color: #EAF4FF;
}
.courses-teach--box__card5--heading{
    padding: 32px 89px 0 32px;
    font-size: 24px;
    font-weight: 700;
    color: #0B2441;
    line-height: 28px;
}
.courses-teach--box__card5--text{
    background-color: #2189FF;
    color: #fff;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    transform: rotate(-13.21deg);
    height: 48px;
    width: 287px;
    margin-top: 25px;
}
.box-position{
    position: absolute;
    bottom: 32px;
    left: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}
.box-position--text{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color:#fff;
}
.box-position--btn{
    background-color:#2189FF;
    color: #fff;
    padding: 10px 24px ;
    border-radius:12px;
    border:none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    width: 137px;
    display: flex;
    align-items: center;
    column-gap: 8px;
}