.form-box{
    padding: 64px 81px 0 56px;
    background-color: #EAF4FF;
    border-radius: 40px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;

}

.form-box--heading{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #0B2441;
}
.form-box--text{
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    width: 339px;
    margin-top: 16px;
}
.form-box--img{
height: 175px;
width: 274px;
background-image: url('./img/img-img-removebg-preview(1).png');
object-fit: cover;
}

.form-card--name{
    border: 1px solid #2189FF66;
    border-radius: 20px;
    width: 584px;
    height: 56px;
    outline: none;
    padding: 20px 0 20px 24px;
    color: #0B2441;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.5;
}
.form-card--box{
    display: flex;
    column-gap: 24px;
    margin-top: 24px;
}
.form-card--tell{
    border: 1px solid #2189FF66;
    border-radius: 20px;
    width: 280px;
    height: 56px;
    padding: 20px 0 20px 24px;
    color: #0B2441;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.5;
    outline: none;
}
.form-card--btn{
    background-color: #2189FF;
    opacity: 0.5;
    padding: 16px 36px;
    border-radius:20px ;
    width: 138px;
    outline: none;
    border:none;
    margin-top: 48px;
    color:#FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}