*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
ul , a {
  text-decoration: none;
  list-style-type: none;
}
button{
  cursor: pointer;
}
